/* DEVELOPER
================================ */
.dev {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: gray;
  padding: 8px 16px;
}
.dev .top {
  text-align: left;
}
.dev .bottom {
  text-align: right;
}
.dev a {
  color: #05a6f1;
}
.dev a:link {
  text-decoration: none;
}
.dev a:visited {
  font-style: italic;
}
.dev a:hover {
  text-decoration: underline;
}
.dev a:active {
  font-style: italic;
  text-decoration: underline;
  color: gray;
}
