/* SUMMARY
  0. Variables
  1. Base
  2. Globals
  .devder
  4. Main
  5. Footer
  6. Media queries
/* 0. Variables
  ============================= */
:root {
  --blue: #3f51b5;
  --lightblue: #05a6f1;
  --white: #ffffff;
  --black: #000000;
  --green: #2ecc40;
  --yellow: #ffdc00;
  --red: #ff4136;
  --f-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --f-size-xs: 1rem;
  --f-size-s: 1.3rem;
  --f-size-base: 1.6rem;
  --f-size-l: 1.9rem;
  --f-size-xl: 2.2rem;
}
/* 1. Base
  ============================= */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--f-family-base);
  font-size: var(--f-size-base);
}
img {
  max-width: 100%;
  height: auto;
}
h1 {
  font-size: var(--f-size-xl);
}
h2 {
  font-size: var(--f-size-l);
}
small {
  font-size: var(--f-size-xs);
}
a {
  color: var(--lightblue);
}
a:link {
  text-decoration: none;
}
a:visited {
  font-style: italic;
}
a:hover {
  text-decoration: underline;
  color: var(--black);
}
a:active {
  color: var(--green);
}
/* 2. Globals
  ============================= */
.t-a-left {
  text-align: left;
}
.d-block {
  display: block;
}
/* 3. Header
  ============================= */
.dev {
  position: sticky;
  top: 0;
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
}
.dev h1 {
  text-align: center;
}
.dev p {
  text-align: right;
}
.dev p span {
  font-size: var(--f-size-s);
}
/* 4. Main
  ============================= */
main {
  margin: auto;
}
main .exercise {
  margin: 1rem;
  border: thin solid var(--blue);
  border-radius: 1rem;
  padding: 1rem;
}
main .exercise h2 {
  font-weight: normal;
}
main .exercise h2 span {
  font-weight: bold;
}
main .solution {
  border-top: thin dashed var(--blue);
  text-align: center;
}
main .solution strong {
  font-size: var(--f-size-s);
  font-weight: normal;
  color: var(--blue);
}
main .solution button {
  background-color: var(--blue);
  color: var(--white);
  border: none;
  width: 10rem;
  margin: auto;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
}
main .solution button:hover {
  background-color: var(--white);
  color: var(--blue);
  border: thin solid var(--blue);
  font-weight: bolder;
}
main .solution button:focus {
  outline: none;
}
main .solution form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
main .solution form fieldset {
  text-align: left;
  border: none;
}
main .solution form legend {
  margin-bottom: 1rem;
  font-style: italic;
}
main .solution form input {
  display: block;
  width: 100%;
  margin: 1rem auto;
}
main .solution form input[type="radio"] {
  display: inline;
  width: 8rem;
}
main .solution .result {
  padding: 1rem;
  max-width: 80%;
  margin: 1rem auto;
  border-radius: 1rem;
}
main .solution .btn-group {
  display: flex;
}
main .solution .success {
  background-color: var(--green);
  color: var(--white);
}
main .solution .info {
  border: thin dotted var(--blue);
  color: var(--blue);
}
main .solution .warning {
  background-color: var(--yellow);
  color: var(--black);
}
main .solution .danger {
  background-color: var(--red);
  color: var(--white);
}
/* 5. Footer
  ============================= */
footer {
  font-size: var(--f-size-base);
  background-color: var(--blue);
  color: var(--white);
  padding: 1rem;
  text-align: center;
}
/* 6. Media queries
  ============================= */
@media screen and (min-width: 480px) {
  main {
    max-width: 420px;
  }
  main .solution form input[type="radio"] {
    width: 16rem;
  }
  small {
    font-size: var(--f-size-s);
  }
}

@media screen and (min-width: 768px) {
  .dev {
    display: flex;
    justify-content: space-between;
  }
  main {
    max-width: 720px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .dev,
  footer {
    padding: 1rem 2rem;
  }
  main .exercise {
    max-width: 34rem;
  }
  main .solution form input[type="radio"] {
    width: 8rem;
  }
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 960px;
  }
  main .exercise {
    max-width: 30rem;
  }
}

@media screen and (min-width: 1200px) {
  main {
    max-width: 1140px;
  }
  main .exercise {
    max-width: 26rem;
  }
  main .solution form input[type="radio"] {
    width: 4rem;
  }
}
